.modal-container{
    width:100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.318);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form{
    display:flex;
    flex-direction: column;
}